@font-face {
  font-family: "TrajanPro-Regular";
  src: url(../../../assets/fonts/trajanpro-regular-webfont.woff2);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner__API {
  z-index: 999;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner__API::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner-loader__API {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #f3f3f3;
  border-top: 3px solid rgba(254, 192, 15);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spinner 1s linear infinite;
  font-family: "TrajanPro-Regular";
}
