.forgotpassword-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.21),
      rgba(255, 255, 255, 0.093)
    ),
    url(../../assets/images/img/USTmaingbldg_bg.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.forgotpassword-container__user {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  animation: animatePopUp 0.5s ease-in-out;
}

.forgotpass-user__wrapper {
  width: 25%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.48) 0px 5px 15px;
  padding: 35px;
  margin: 50px;
}

.forgotpass-user__emailaddress {
  margin: 10px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 16px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.forgotpass-user--container__emailaddress {
  width: 100%;
  text-align: center;
}

.forgotpass-userinput__emailaddress {
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
  font-size: 15px;
}

.forgot-container__button {
  margin-top: 20px;
}

.forgotpassword-message_msg {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 10px 0;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #4bb543;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}
