.login-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.21),
      rgba(255, 255, 255, 0.093)
    ),
    url(../../assets/images/img/USTmaingbldg_bg.jpg);
  background-position: center;
  background-size: cover;
}

.login-container__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.login-container__form {
  background-color: #fff;
  border-radius: 4px;
  animation: animatePopUp 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.48) 0px 2px 8px;
  width: 30%;
  padding: 30px;
}

.container-user__emailaddress,
.container-user__password {
  margin: 10px 0 12px 0;
  box-shadow: 8px 8px 16px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.login-container__button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
}

.button-user__login {
  width: 100%;
}

.login-container__forgotpass {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.login-container__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotpass-text {
  color: #4545db;
}

@keyframes animatePopUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
