.userprofile-container__content {
  margin: 0;
}

.header_userprofile {
  padding: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header_userprofile h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container-ticket__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.container-ticket__loading h4 {
  color: rgba(0, 0, 0, 0.5);
}

.content-userprofile-details {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 2px 4px;
}

.userprofile-details__profile {
  padding: 0px 35px;
}

.userprofile-ticketcontent {
  padding: 0px 35px;
  height: calc(75vh - 35px);
  width: 100%;
  overflow: auto;
}

.userprofile-ticketcontent::-webkit-scrollbar {
  width: 5px;
}

.userprofile-ticketcontent::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.395);
  border-radius: 20px;
  padding: 2px;
}

.profile-details__contactnum {
  padding: 5px 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 8px 8px 16px 3px rgb(0 0 0 / 10%);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 15px;
  height: 200px;
  outline: none;
}

.profile-details__contactnum-contact {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  resize: none;
  outline: none;
}

.profile-details__date,
.profile-details__details {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.profile-details__createdlast {
  display: flex;
  justify-content: flex-end;
}

.profile-details__createdlast label {
  /* font-weight: 600; */
  font-size: 14px;
  padding: 2px;
}

#label-createdlast {
  font-weight: 700;
}

#category-container {
  height: 150px;
}

.profile-details__details label,
.profile-details__date label {
  font-size: 14px;
  font-weight: 600;
}

.profile-details__container {
  padding: 5px 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 8px 8px 16px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 15px;
  margin: 5px 0;
}

.submitform-container__btn {
  display: flex;
  justify-content: flex-end;
}

.modal-btns__wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  gap: 15px;
}
